# Global code owners
* @outception/engineering

# Backend
server/** @frankie567 @outception/engineering

# Infrastructure
terraform/** @Yopi
infra/** @Yopi

# Frontend
clients/packages/orbit/** @emilwidlund @sebastianekstrom

# Docs
/docs/ @pieterbeulque
