# Global code owners
* @outception/engineering

# Backend
server/** @outception/engineering

# Infrastructure
terraform/** @outception/engineering
infra/** @outception/engineering

# Frontend
clients/packages/orbit/** @outception/engineering

# Docs
/docs/ @outception/engineering
