# Backend
server/outception/metrics/** @Yopi @pieterbeulque
server/tests/metrics/** @Yopi @pieterbeulque
server/outception/organization_review/** @psincraian
server/tests/organization_review/** @psincraian
server/outception/customer_seat/** @psincraian
server/tests/customer_seat/** @psincraian
server/tests/e2e/** @psincraian

# Billing
server/outception/billing_entry/** @frankie567
server/tests/billing_entry/** @frankie567
server/outception/models/billing_entry.py @frankie567
server/outception/integrations/stripe/** @frankie567
server/tests/integrations/stripe/** @frankie567
server/outception/tax/** @frankie567
server/tests/tax/** @frankie567
server/outception/payout/** @frankie567
server/tests/payout/** @frankie567
server/outception/payout_account/** @frankie567
server/tests/payout_account/** @frankie567
server/outception/models/payout.py @frankie567
server/outception/models/payout_account.py @frankie567
server/outception/models/payout_attempt.py @frankie567
server/tests/models/test_payout_account.py @frankie567

# API
server/outception/**/endpoints.py @frankie567
server/outception/**/schemas.py @frankie567
server/outception/customer_portal/endpoints/** @frankie567
server/outception/customer_portal/schemas/** @frankie567

# Authentication
server/outception/auth/** @frankie567
server/outception/oauth2/** @frankie567

# Infrastructure
terraform/** @Yopi
infra/** @Yopi

# Frontend
clients/apps/web/src/components/Checkout/** @sebastianekstrom
clients/packages/checkout/** @sebastianekstrom
clients/packages/orbit/** @emilwidlund @sebastianekstrom

# Docs
/docs/ @pieterbeulque
/docs/openapi/**

# ADR
handbook/engineering/decisions/** @frankie567

# Design documents
handbook/engineering/design-documents/** @frankie567

# Other
**/legal @victoriabolin @birkjernstrom
