{
  "openapi": "3.1.0",
  "info": {
    "title": "Outception API",
    "summary": "Outception HTTP and Webhooks API",
    "description": "Read the docs at https://outception.com/docs/api-reference/introduction",
    "version": "2026-04"
  },
  "servers": [
    {
      "url": "https://api.outception.com",
      "description": "Production environment",
      "x-speakeasy-server-id": "production"
    }
  ],
  "paths": {
    "/v1/users/me": {
      "get": {
        "tags": [
          "users",
          "private"
        ],
        "summary": "Get Authenticated",
        "operationId": "users:get_authenticated",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRead"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "x-speakeasy-group": "users",
        "x-speakeasy-name-override": "get_authenticated",
        "x-speakeasy-ignore": true
      },
      "delete": {
        "tags": [
          "users",
          "private"
        ],
        "summary": "Delete Authenticated User",
        "description": "Delete the authenticated user account.\n\nA user can only be deleted if all organizations they are members of have been\ndeleted first. If the user has active organizations, the response will include\nthe list of organizations that must be deleted before the user account can be\nremoved.\n\nWhen deleted:\n- User's email is anonymized\n- User's avatar and metadata are cleared\n- User's OAuth accounts are deleted (cascade)\n\n**Scopes**: `user:write`",
        "operationId": "users:delete_authenticated_user",
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDeletionResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": [
              "user:write"
            ]
          },
          {
            "pat": [
              "user:write"
            ]
          }
        ],
        "x-outception-allowed-subjects": [
          "User"
        ],
        "x-speakeasy-group": "users",
        "x-speakeasy-name-override": "delete_authenticated_user",
        "x-speakeasy-ignore": true
      },
      "patch": {
        "tags": [
          "users",
          "private"
        ],
        "summary": "Update Authenticated",
        "operationId": "users:update_authenticated",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRead"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "x-speakeasy-group": "users",
        "x-speakeasy-name-override": "update_authenticated",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/users/me/scopes": {
      "get": {
        "tags": [
          "users",
          "private"
        ],
        "summary": "Scopes",
        "operationId": "users:scopes",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserScopes"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "x-speakeasy-group": "users",
        "x-speakeasy-name-override": "scopes",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/users/me/oauth-accounts/{platform}": {
      "delete": {
        "tags": [
          "users",
          "private"
        ],
        "summary": "Disconnect Oauth Account",
        "description": "Disconnect an OAuth account (GitHub or Google) from the authenticated user.\n\nThis allows users to unlink their OAuth provider while keeping their Outception account.\nThey can still authenticate using other methods (email magic link or other OAuth providers).\n\nNote: You cannot disconnect your last authentication method if your email is not verified.",
        "operationId": "users:disconnect_oauth_account",
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OAuthPlatform"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "404": {
            "description": "OAuth account not found"
          },
          "400": {
            "description": "Cannot disconnect last authentication method"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "users",
        "x-speakeasy-name-override": "disconnect_oauth_account",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/personal_access_tokens/": {
      "post": {
        "tags": [
          "personal_access_token",
          "private"
        ],
        "summary": "Create Personal Access Token",
        "description": "Create a personal access token. The raw token is returned only once.",
        "operationId": "personal_access_token:create_personal_access_token",
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersonalAccessTokenCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalAccessTokenCreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "personal_access_token",
        "x-speakeasy-name-override": "create_personal_access_token",
        "x-speakeasy-ignore": true
      },
      "get": {
        "tags": [
          "personal_access_token",
          "private"
        ],
        "summary": "List Personal Access Tokens",
        "description": "List personal access tokens.",
        "operationId": "personal_access_token:list_personal_access_tokens",
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Page number, defaults to 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, defaults to 1."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Size of a page, defaults to 10. Maximum is 100.",
              "default": 10,
              "title": "Limit"
            },
            "description": "Size of a page, defaults to 10. Maximum is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResource_PersonalAccessToken_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "page",
              "in": "parameters",
              "type": "page"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.items",
            "numPages": "$.pagination.max_page"
          }
        },
        "x-speakeasy-group": "personal_access_token",
        "x-speakeasy-name-override": "list_personal_access_tokens",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/personal_access_tokens/{id}": {
      "delete": {
        "tags": [
          "personal_access_token",
          "private"
        ],
        "summary": "Delete Personal Access Token",
        "operationId": "personal_access_token:delete_personal_access_token",
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "personal_access_token",
        "x-speakeasy-name-override": "delete_personal_access_token",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/organizations/": {
      "get": {
        "tags": [
          "organizations",
          "public"
        ],
        "summary": "List",
        "description": "List organizations the authenticated subject can access.\n\n**Scopes**: `organizations:read` `organizations:write`",
        "operationId": "organizations:list",
        "security": [
          {
            "oidc": [
              "organizations:read",
              "organizations:write"
            ]
          },
          {
            "pat": [
              "organizations:read",
              "organizations:write"
            ]
          },
          {
            "oat": [
              "organizations:read",
              "organizations:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by slug.",
              "title": "Slug"
            },
            "description": "Filter by slug."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Page number, defaults to 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, defaults to 1."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Size of a page, defaults to 10. Maximum is 100.",
              "default": 10,
              "title": "Limit"
            },
            "description": "Size of a page, defaults to 10. Maximum is 100."
          },
          {
            "name": "sorting",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationSortProperty"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
              "default": [
                "created_at"
              ],
              "title": "Sorting"
            },
            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResource_Organization_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-outception-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "page",
              "in": "parameters",
              "type": "page"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.items",
            "numPages": "$.pagination.max_page"
          }
        },
        "x-speakeasy-group": "organizations",
        "x-speakeasy-name-override": "list"
      }
    },
    "/v1/organizations/{id}": {
      "get": {
        "tags": [
          "organizations",
          "public"
        ],
        "summary": "Get",
        "description": "Get an organization by ID.\n\n**Scopes**: `organizations:read` `organizations:write`",
        "operationId": "organizations:get",
        "security": [
          {
            "oidc": [
              "organizations:read",
              "organizations:write"
            ]
          },
          {
            "pat": [
              "organizations:read",
              "organizations:write"
            ]
          },
          {
            "oat": [
              "organizations:read",
              "organizations:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "examples": [
                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
              ],
              "description": "The organization ID.",
              "x-outception-selector-widget": {
                "resourceRoot": "/v1/organizations",
                "resourceName": "Organization",
                "displayProperty": "name"
              },
              "title": "Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-outception-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "organizations",
        "x-speakeasy-name-override": "get"
      },
      "patch": {
        "tags": [
          "organizations",
          "public"
        ],
        "summary": "Update",
        "description": "Update an organization.\n\n**Scopes**: `organizations:write`",
        "operationId": "organizations:update",
        "security": [
          {
            "oidc": [
              "organizations:write"
            ]
          },
          {
            "pat": [
              "organizations:write"
            ]
          },
          {
            "oat": [
              "organizations:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "examples": [
                "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
              ],
              "description": "The organization ID.",
              "x-outception-selector-widget": {
                "resourceRoot": "/v1/organizations",
                "resourceName": "Organization",
                "displayProperty": "name"
              },
              "title": "Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "404": {
            "description": "Organization not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceNotFound"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-outception-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "organizations",
        "x-speakeasy-name-override": "update"
      }
    },
    "/v1/auth/logout": {
      "get": {
        "tags": [
          "auth",
          "private"
        ],
        "summary": "Logout",
        "operationId": "auth:logout",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-speakeasy-group": "auth",
        "x-speakeasy-name-override": "logout",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/auth/start": {
      "post": {
        "tags": [
          "auth",
          "private"
        ],
        "summary": "Start",
        "operationId": "auth:start",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationSessionStart"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationSession"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "auth",
        "x-speakeasy-name-override": "start",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/auth/status": {
      "get": {
        "tags": [
          "auth",
          "private"
        ],
        "summary": "Status",
        "operationId": "auth:status",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationSession"
                }
              }
            }
          },
          "401": {
            "description": "No active authentication session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidAuthenticationSession"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "auth",
        "x-speakeasy-name-override": "status",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/auth/email-otp/request": {
      "post": {
        "tags": [
          "auth",
          "private"
        ],
        "summary": "Email Otp Request",
        "operationId": "auth:email_otp_request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailOTPRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "auth",
        "x-speakeasy-name-override": "email_otp_request",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/auth/email-otp/verify": {
      "post": {
        "tags": [
          "auth",
          "private"
        ],
        "summary": "Email Otp Verify",
        "operationId": "auth:email_otp_verify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailOTPVerify"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationSession"
                }
              }
            }
          },
          "403": {
            "description": "Invalid or expired OTP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotPermitted"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "auth",
        "x-speakeasy-name-override": "email_otp_verify",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/auth/totp": {
      "get": {
        "tags": [
          "auth",
          "private"
        ],
        "summary": "Totp Status",
        "operationId": "auth:totp_status",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TOTPStatus"
                }
              }
            }
          },
          "404": {
            "description": "TOTP factor not enrolled"
          }
        },
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "x-speakeasy-group": "auth",
        "x-speakeasy-name-override": "totp_status",
        "x-speakeasy-ignore": true
      },
      "post": {
        "tags": [
          "auth",
          "private"
        ],
        "summary": "Totp Enroll",
        "operationId": "auth:totp_enroll",
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TOTPEnrollment"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "x-speakeasy-group": "auth",
        "x-speakeasy-name-override": "totp_enroll",
        "x-speakeasy-ignore": true
      },
      "delete": {
        "tags": [
          "auth",
          "private"
        ],
        "summary": "Totp Delete",
        "operationId": "auth:totp_delete",
        "responses": {
          "204": {
            "description": "Successful Response"
          }
        },
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "x-speakeasy-group": "auth",
        "x-speakeasy-name-override": "totp_delete",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/auth/totp/enable": {
      "post": {
        "tags": [
          "auth",
          "private"
        ],
        "summary": "Totp Enable",
        "operationId": "auth:totp_enable",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TOTPEnable"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "x-speakeasy-group": "auth",
        "x-speakeasy-name-override": "totp_enable",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/auth/totp/verify": {
      "post": {
        "tags": [
          "auth",
          "private"
        ],
        "summary": "Totp Verify",
        "operationId": "auth:totp_verify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TOTPEnable"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationSession"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "auth",
        "x-speakeasy-name-override": "totp_verify",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/auth/backup-codes": {
      "get": {
        "tags": [
          "auth",
          "private"
        ],
        "summary": "Backup Codes Status",
        "operationId": "auth:backup_codes_status",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupCodesStatus"
                }
              }
            }
          },
          "404": {
            "description": "Backup codes factor not enrolled"
          }
        },
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "x-speakeasy-group": "auth",
        "x-speakeasy-name-override": "backup_codes_status",
        "x-speakeasy-ignore": true
      },
      "post": {
        "tags": [
          "auth",
          "private"
        ],
        "summary": "Backup Codes Enroll",
        "operationId": "auth:backup_codes_enroll",
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupCodesEnrollment"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "x-speakeasy-group": "auth",
        "x-speakeasy-name-override": "backup_codes_enroll",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/auth/backup-codes/verify": {
      "post": {
        "tags": [
          "auth",
          "private"
        ],
        "summary": "Backup Codes Verify",
        "operationId": "auth:backup_codes_verify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupCodesVerify"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationSession"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "auth",
        "x-speakeasy-name-override": "backup_codes_verify",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/oauth2/": {
      "get": {
        "tags": [
          "oauth2",
          "clients",
          "private"
        ],
        "summary": "List Clients",
        "description": "List OAuth2 clients.",
        "operationId": "oauth2:clients:list",
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Page number, defaults to 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, defaults to 1."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Size of a page, defaults to 10. Maximum is 100.",
              "default": 10,
              "title": "Limit"
            },
            "description": "Size of a page, defaults to 10. Maximum is 100."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResource_OAuth2Client_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "page",
              "in": "parameters",
              "type": "page"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.items",
            "numPages": "$.pagination.max_page"
          }
        },
        "x-speakeasy-group": "oauth2.clients",
        "x-speakeasy-name-override": "list",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/oauth2/register": {
      "post": {
        "tags": [
          "oauth2",
          "clients",
          "public"
        ],
        "summary": "Create Client",
        "description": "Create an OAuth2 client.",
        "operationId": "oauth2:clients:oauth2:create_client",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuth2ClientConfiguration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "x-outception-allowed-subjects": [
          "Anonymous",
          "User"
        ],
        "x-speakeasy-group": "oauth2.clients",
        "x-speakeasy-name-override": "create"
      }
    },
    "/v1/oauth2/register/{client_id}": {
      "get": {
        "tags": [
          "oauth2",
          "clients",
          "public"
        ],
        "summary": "Get Client",
        "description": "Get an OAuth2 client by Client ID.",
        "operationId": "oauth2:clients:oauth2:get_client",
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Client Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-outception-allowed-subjects": [
          "Anonymous",
          "User"
        ],
        "x-speakeasy-group": "oauth2.clients",
        "x-speakeasy-name-override": "get"
      },
      "put": {
        "tags": [
          "oauth2",
          "clients",
          "public"
        ],
        "summary": "Update Client",
        "description": "Update an OAuth2 client.",
        "operationId": "oauth2:clients:oauth2:update_client",
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Client Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuth2ClientConfigurationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-outception-allowed-subjects": [
          "Anonymous",
          "User"
        ],
        "x-speakeasy-group": "oauth2.clients",
        "x-speakeasy-name-override": "update"
      },
      "delete": {
        "tags": [
          "oauth2",
          "clients",
          "public"
        ],
        "summary": "Delete Client",
        "description": "Delete an OAuth2 client.",
        "operationId": "oauth2:clients:oauth2:delete_client",
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Client Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-outception-allowed-subjects": [
          "Anonymous",
          "User"
        ],
        "x-speakeasy-group": "oauth2.clients",
        "x-speakeasy-name-override": "delete"
      }
    },
    "/v1/oauth2/authorize": {
      "get": {
        "tags": [
          "oauth2",
          "public"
        ],
        "summary": "Authorize",
        "operationId": "oauth2:authorize",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AuthorizeResponseUser"
                    },
                    {
                      "$ref": "#/components/schemas/AuthorizeResponseOrganization"
                    }
                  ],
                  "title": "Response Oauth2:Authorize",
                  "discriminator": {
                    "propertyName": "sub_type",
                    "mapping": {
                      "user": "#/components/schemas/AuthorizeResponseUser",
                      "organization": "#/components/schemas/AuthorizeResponseOrganization"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "x-outception-allowed-subjects": [
          "Anonymous",
          "User"
        ],
        "x-speakeasy-group": "oauth2",
        "x-speakeasy-name-override": "authorize"
      }
    },
    "/v1/oauth2/consent": {
      "post": {
        "tags": [
          "oauth2",
          "private"
        ],
        "summary": "Consent",
        "operationId": "oauth2:consent",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Body_oauth2_consent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "x-speakeasy-group": "oauth2",
        "x-speakeasy-name-override": "consent",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/oauth2/token": {
      "post": {
        "tags": [
          "oauth2",
          "public"
        ],
        "summary": "Request Token",
        "description": "Request an access token using a valid grant.",
        "operationId": "oauth2:request_token",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/AuthorizationCodeTokenRequest"
                  },
                  {
                    "$ref": "#/components/schemas/RefreshTokenRequest"
                  },
                  {
                    "$ref": "#/components/schemas/WebTokenRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "oauth2",
        "x-speakeasy-name-override": "token"
      }
    },
    "/v1/oauth2/revoke": {
      "post": {
        "tags": [
          "oauth2",
          "public"
        ],
        "summary": "Revoke Token",
        "description": "Revoke an access token or a refresh token.",
        "operationId": "oauth2:revoke_token",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/RevokeTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeTokenResponse"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "oauth2",
        "x-speakeasy-name-override": "revoke"
      }
    },
    "/v1/oauth2/introspect": {
      "post": {
        "tags": [
          "oauth2",
          "public"
        ],
        "summary": "Introspect Token",
        "description": "Get information about an access token.",
        "operationId": "oauth2:introspect_token",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/IntrospectTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntrospectTokenResponse"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "oauth2",
        "x-speakeasy-name-override": "introspect"
      }
    },
    "/v1/oauth2/userinfo": {
      "get": {
        "tags": [
          "oauth2",
          "public"
        ],
        "summary": "Get User Info",
        "description": "Get information about the authenticated user.",
        "operationId": "oauth2:userinfo",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/UserInfoUser"
                    },
                    {
                      "$ref": "#/components/schemas/UserInfoOrganization"
                    }
                  ],
                  "title": "Response Oauth2:Userinfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": []
          }
        ],
        "x-speakeasy-name-override": "userinfo",
        "x-speakeasy-group": "oauth2"
      }
    },
    "/v1/organization-access-tokens/": {
      "get": {
        "tags": [
          "organization_access_tokens",
          "public"
        ],
        "summary": "List",
        "description": "List organization access tokens.\n\n**Scopes**: `organization_access_tokens:read` `organization_access_tokens:write`",
        "operationId": "organization_access_tokens:list",
        "security": [
          {
            "oidc": [
              "organization_access_tokens:read",
              "organization_access_tokens:write"
            ]
          },
          {
            "pat": [
              "organization_access_tokens:read",
              "organization_access_tokens:write"
            ]
          },
          {
            "oat": [
              "organization_access_tokens:read",
              "organization_access_tokens:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid4",
                  "examples": [
                    "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                  ],
                  "description": "The organization ID.",
                  "x-outception-selector-widget": {
                    "resourceRoot": "/v1/organizations",
                    "resourceName": "Organization",
                    "displayProperty": "name"
                  }
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid4",
                    "examples": [
                      "1dbfc517-0bbf-4301-9ba8-555ca42b9737"
                    ],
                    "description": "The organization ID.",
                    "x-outception-selector-widget": {
                      "resourceRoot": "/v1/organizations",
                      "resourceName": "Organization",
                      "displayProperty": "name"
                    }
                  }
                },
                {
                  "type": "null"
                }
              ],
              "title": "OrganizationID Filter",
              "description": "Filter by organization ID."
            },
            "description": "Filter by organization ID."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Page number, defaults to 1.",
              "default": 1,
              "title": "Page"
            },
            "description": "Page number, defaults to 1."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "description": "Size of a page, defaults to 10. Maximum is 100.",
              "default": 10,
              "title": "Limit"
            },
            "description": "Size of a page, defaults to 10. Maximum is 100."
          },
          {
            "name": "sorting",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrganizationAccessTokenSortProperty"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order.",
              "default": [
                "created_at"
              ],
              "title": "Sorting"
            },
            "description": "Sorting criterion. Several criteria can be used simultaneously and will be applied in order. Add a minus sign `-` before the criteria name to sort by descending order."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResource_OrganizationAccessToken_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-outception-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-pagination": {
          "type": "offsetLimit",
          "inputs": [
            {
              "name": "page",
              "in": "parameters",
              "type": "page"
            },
            {
              "name": "limit",
              "in": "parameters",
              "type": "limit"
            }
          ],
          "outputs": {
            "results": "$.items",
            "numPages": "$.pagination.max_page"
          }
        },
        "x-speakeasy-group": "organization_access_tokens",
        "x-speakeasy-name-override": "list"
      },
      "post": {
        "tags": [
          "organization_access_tokens",
          "public"
        ],
        "summary": "Create",
        "description": "**Scopes**: `organization_access_tokens:write`",
        "operationId": "organization_access_tokens:create",
        "security": [
          {
            "oidc": [
              "organization_access_tokens:write"
            ]
          },
          {
            "pat": [
              "organization_access_tokens:write"
            ]
          },
          {
            "oat": [
              "organization_access_tokens:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationAccessTokenCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationAccessTokenCreateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-outception-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "organization_access_tokens",
        "x-speakeasy-name-override": "create"
      }
    },
    "/v1/organization-access-tokens/{id}": {
      "patch": {
        "tags": [
          "organization_access_tokens",
          "public"
        ],
        "summary": "Update",
        "description": "**Scopes**: `organization_access_tokens:write`",
        "operationId": "organization_access_tokens:update",
        "security": [
          {
            "oidc": [
              "organization_access_tokens:write"
            ]
          },
          {
            "pat": [
              "organization_access_tokens:write"
            ]
          },
          {
            "oat": [
              "organization_access_tokens:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "title": "Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationAccessTokenUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationAccessToken"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-outception-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "organization_access_tokens",
        "x-speakeasy-name-override": "update"
      },
      "delete": {
        "tags": [
          "organization_access_tokens",
          "public"
        ],
        "summary": "Delete",
        "description": "**Scopes**: `organization_access_tokens:write`",
        "operationId": "organization_access_tokens:delete",
        "security": [
          {
            "oidc": [
              "organization_access_tokens:write"
            ]
          },
          {
            "pat": [
              "organization_access_tokens:write"
            ]
          },
          {
            "oat": [
              "organization_access_tokens:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid4",
              "title": "Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-outception-allowed-subjects": [
          "Organization",
          "User"
        ],
        "x-speakeasy-group": "organization_access_tokens",
        "x-speakeasy-name-override": "delete"
      }
    },
    "/v1/email-update/request": {
      "post": {
        "tags": [
          "email-update",
          "private"
        ],
        "summary": "Request Email Update",
        "operationId": "email-update:request_email_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "x-speakeasy-group": "email-update",
        "x-speakeasy-name-override": "request_email_update",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/email-update/verify": {
      "post": {
        "tags": [
          "email-update",
          "private"
        ],
        "summary": "Verify Email Update",
        "operationId": "email-update:verify_email_update",
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "parameters": [
          {
            "name": "return_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Return To"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Body_email-update_verify_email_update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "email-update",
        "x-speakeasy-name-override": "verify_email_update",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/news/sources": {
      "get": {
        "tags": [
          "news",
          "public"
        ],
        "summary": "List Sources",
        "description": "Metadata for every known source (including redirect aliases).",
        "operationId": "news:list_sources",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SourceMeta"
                  },
                  "type": "array",
                  "title": "Response News:List Sources"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "news",
        "x-speakeasy-name-override": "list_sources"
      }
    },
    "/v1/news/search": {
      "get": {
        "tags": [
          "news",
          "public"
        ],
        "summary": "Search News",
        "description": "Search the wall: source names (always) and cached headlines (warm\nsources only \u2014 search never triggers an outbound fetch).",
        "operationId": "news:search_news",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 80,
              "description": "Search query.",
              "title": "Q"
            },
            "description": "Search query."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "news",
        "x-speakeasy-name-override": "search_news"
      }
    },
    "/v1/news/followed": {
      "get": {
        "tags": [
          "news",
          "private"
        ],
        "summary": "List Followed Sources",
        "description": "The sources the authenticated user follows (canonical ids).",
        "operationId": "news:list_followed_sources",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FollowedSources"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "x-outception-allowed-subjects": [
          "User"
        ],
        "x-speakeasy-group": "news",
        "x-speakeasy-name-override": "list_followed_sources",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/news/followed/feed": {
      "get": {
        "tags": [
          "news",
          "private"
        ],
        "summary": "Followed Feed",
        "description": "A merged, freshest-first feed of cached headlines from the sources the\nuser follows (warm cache only \u2014 never triggers a fetch).",
        "operationId": "news:followed_feed",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewsSearchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "x-outception-allowed-subjects": [
          "User"
        ],
        "x-speakeasy-group": "news",
        "x-speakeasy-name-override": "followed_feed",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/news/followed/{source_id}": {
      "put": {
        "tags": [
          "news",
          "private"
        ],
        "summary": "Follow Source",
        "description": "Follow a source. The id is resolved to its canonical source (so a\nredirect alias follows the real one); unknown ids are rejected.",
        "operationId": "news:follow_source",
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Source Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-outception-allowed-subjects": [
          "User"
        ],
        "x-speakeasy-group": "news",
        "x-speakeasy-name-override": "follow_source",
        "x-speakeasy-ignore": true
      },
      "delete": {
        "tags": [
          "news",
          "private"
        ],
        "summary": "Unfollow Source",
        "description": "Unfollow a source (idempotent).",
        "operationId": "news:unfollow_source",
        "security": [
          {
            "oidc": []
          },
          {
            "pat": []
          }
        ],
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Source Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-outception-allowed-subjects": [
          "User"
        ],
        "x-speakeasy-group": "news",
        "x-speakeasy-name-override": "unfollow_source",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/news/{source_id}": {
      "get": {
        "tags": [
          "news",
          "public"
        ],
        "summary": "Get Source",
        "description": "Items for one source \u2014 cache-first with the ported TTL semantics.\n\nFor ``reddit-*`` sources the optional ``sort`` parameter selects\nan alternative feed (``new``, ``top``, ``rising``).  ``top`` is\nscoped to the past day (``?t=day``).  Any other source silently\nignores the parameter and returns the standard feed.",
        "operationId": "news:get_source",
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Source Id"
            }
          },
          {
            "name": "latest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Latest"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(hot|new|top|rising)$",
              "default": "hot",
              "title": "Sort"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "news",
        "x-speakeasy-name-override": "get_source"
      }
    },
    "/v1/news/batch": {
      "post": {
        "tags": [
          "news",
          "public"
        ],
        "summary": "Batch",
        "description": "Cached items for many sources in one round trip (upstream\n`entire` semantics): NEVER triggers outbound fetches \u2014 cold or\nunknown sources are simply absent from the response, and each card\nlazy-fetches its own source as it scrolls into view. This is what\nmakes a warm wall render instantly.",
        "operationId": "news:batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/SourceResponse"
                  },
                  "type": "array",
                  "title": "Response News:Batch"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "news",
        "x-speakeasy-name-override": "batch"
      }
    },
    "/v1/promotions/pricing": {
      "get": {
        "tags": [
          "promotions",
          "public"
        ],
        "summary": "Get Pricing",
        "description": "Featured-slot pricing for the compose form.",
        "operationId": "promotions:get_pricing",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotionPricing"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "promotions",
        "x-speakeasy-name-override": "get_pricing"
      }
    },
    "/v1/promotions/featured": {
      "get": {
        "tags": [
          "promotions",
          "public"
        ],
        "summary": "Get Featured",
        "description": "The active \"in focus\" promotion for each requested category (at most one\nper category). Advances each category's queue as a side effect. Impressions\nare deduped per viewer so background polling doesn't inflate the count.",
        "operationId": "promotions:get_featured",
        "parameters": [
          {
            "name": "categories",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Comma-separated category ids the reader cares about.",
              "title": "Categories"
            },
            "description": "Comma-separated category ids the reader cares about."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PromotionRead"
                  },
                  "title": "Response Promotions:Get Featured"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "promotions",
        "x-speakeasy-name-override": "get_featured"
      }
    },
    "/v1/promotions/category/{category}": {
      "get": {
        "tags": [
          "promotions",
          "public"
        ],
        "summary": "Get Category",
        "description": "A category's featured promotion plus the queued promotions behind it\n(shown as in-feed \"Promoted\" cards until their turn).",
        "operationId": "promotions:get_category",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryPromotions"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "promotions",
        "x-speakeasy-name-override": "get_category"
      }
    },
    "/v1/promotions/mine": {
      "get": {
        "tags": [
          "promotions",
          "private"
        ],
        "summary": "List Mine",
        "description": "The authenticated user's promotions, newest first.\n\n**Scopes**: `promotions:read` `promotions:write`",
        "operationId": "promotions:list_mine",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PromotionMineRead"
                  },
                  "type": "array",
                  "title": "Response Promotions:List Mine"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": [
              "promotions:read",
              "promotions:write"
            ]
          },
          {
            "pat": [
              "promotions:read",
              "promotions:write"
            ]
          }
        ],
        "x-outception-allowed-subjects": [
          "User"
        ],
        "x-speakeasy-group": "promotions",
        "x-speakeasy-name-override": "list_mine",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/promotions/preferences": {
      "get": {
        "tags": [
          "promotions",
          "private"
        ],
        "summary": "Get Preferences",
        "description": "Whether the authenticated user receives promotion lifecycle emails.\n\n**Scopes**: `promotions:read` `promotions:write`",
        "operationId": "promotions:get_preferences",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotionPreferences"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": [
              "promotions:read",
              "promotions:write"
            ]
          },
          {
            "pat": [
              "promotions:read",
              "promotions:write"
            ]
          }
        ],
        "x-outception-allowed-subjects": [
          "User"
        ],
        "x-speakeasy-group": "promotions",
        "x-speakeasy-name-override": "get_preferences",
        "x-speakeasy-ignore": true
      },
      "patch": {
        "tags": [
          "promotions",
          "private"
        ],
        "summary": "Update Preferences",
        "description": "Turn the promotion lifecycle emails (go-live / queued / expiry) on or off.\n\nAccepts web sessions and API tokens, so both the web dashboard and the\nmobile app can set it.\n\n**Scopes**: `promotions:write`",
        "operationId": "promotions:update_preferences",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromotionPreferences"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotionPreferences"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": [
              "promotions:write"
            ]
          },
          {
            "pat": [
              "promotions:write"
            ]
          }
        ],
        "x-outception-allowed-subjects": [
          "User"
        ],
        "x-speakeasy-group": "promotions",
        "x-speakeasy-name-override": "update_preferences",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/promotions/analytics": {
      "get": {
        "tags": [
          "promotions",
          "private"
        ],
        "summary": "Get Analytics",
        "description": "Promotion analytics for the dashboard: KPI totals (spend, impressions,\nclicks, CTR) plus a daily series, scoped to the requesting user. Totals come\nfrom the Postgres counters; the daily series is read from the Tinybird\n``promotion_analytics`` pipe when configured (which adds per-day impressions\nand clicks), otherwise from a Postgres spend-only series.\n\n**Scopes**: `promotions:read` `promotions:write`",
        "operationId": "promotions:get_analytics",
        "security": [
          {
            "oidc": [
              "promotions:read",
              "promotions:write"
            ]
          },
          {
            "pat": [
              "promotions:read",
              "promotions:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 365,
              "minimum": 1,
              "description": "Trailing window for the chart.",
              "default": 30,
              "title": "Days"
            },
            "description": "Trailing window for the chart."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotionAnalytics"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-outception-allowed-subjects": [
          "User"
        ],
        "x-speakeasy-group": "promotions",
        "x-speakeasy-name-override": "get_analytics",
        "x-speakeasy-ignore": true
      }
    },
    "/v1/promotions/{promotion_id}/click": {
      "get": {
        "tags": [
          "promotions",
          "public"
        ],
        "summary": "Click Promotion",
        "description": "Track a click and redirect to the promotion's link. Falls back to the\nnews wall when the promotion has no link or doesn't exist. The click is\ndeduped per viewer (the redirect always happens).",
        "operationId": "promotions:click_promotion",
        "parameters": [
          {
            "name": "promotion_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Promotion Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-speakeasy-group": "promotions",
        "x-speakeasy-name-override": "click_promotion"
      }
    },
    "/v1/promotions/": {
      "post": {
        "tags": [
          "promotions",
          "private"
        ],
        "summary": "Create Promotion",
        "description": "Buy a promotion: creates the draft and returns a hosted checkout URL. The\npromotion joins its category's queue once the order webhook confirms\npayment.\n\n**Scopes**: `promotions:write`",
        "operationId": "promotions:create_promotion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromotionCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotionCheckout"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "oidc": [
              "promotions:write"
            ]
          },
          {
            "pat": [
              "promotions:write"
            ]
          }
        ],
        "x-outception-allowed-subjects": [
          "User"
        ],
        "x-speakeasy-group": "promotions",
        "x-speakeasy-name-override": "create_promotion",
        "x-speakeasy-ignore": true
      }
    }
  },
  "components": {
    "schemas": {
      "AuthenticationSession": {
        "properties": {
          "identity_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid4"
              },
              {
                "type": "null"
              }
            ],
            "title": "Identity Id"
          },
          "available_factors": {
            "items": {
              "$ref": "#/components/schemas/Factor"
            },
            "type": "array",
            "title": "Available Factors"
          }
        },
        "type": "object",
        "required": [
          "identity_id",
          "available_factors"
        ],
        "title": "AuthenticationSession"
      },
      "AuthenticationSessionStart": {
        "properties": {
          "return_to": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Return To"
          }
        },
        "type": "object",
        "title": "AuthenticationSessionStart"
      },
      "AuthorizeOrganization": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid4",
            "title": "Id"
          },
          "slug": {
            "type": "string",
            "title": "Slug"
          },
          "avatar_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Avatar Url"
          }
        },
        "type": "object",
        "required": [
          "id",
          "slug",
          "avatar_url"
        ],
        "title": "AuthorizeOrganization"
      },
      "AuthorizeResponseOrganization": {
        "properties": {
          "client": {
            "$ref": "#/components/schemas/OAuth2ClientPublic"
          },
          "sub_type": {
            "type": "string",
            "const": "organization",
            "title": "Sub Type"
          },
          "sub": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AuthorizeOrganization"
              },
              {
                "type": "null"
              }
            ]
          },
          "scopes": {
            "items": {
              "$ref": "#/components/schemas/Scope"
            },
            "type": "array",
            "title": "Scopes"
          },
          "scope_display_names": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Scope Display Names",
            "default": {
              "openid": "OpenID",
              "profile": "Read your profile",
              "email": "Read your email address",
              "user:read": "Read your user account",
              "user:write": "Manage your user account",
              "organizations:read": "Read your organizations",
              "organizations:write": "Create or modify organizations",
              "members:read": "Read members",
              "members:write": "Create or modify members",
              "organization_access_tokens:read": "Read organization access tokens",
              "organization_access_tokens:write": "Create or modify organization access tokens",
              "promotions:read": "Read your promotions",
              "promotions:write": "Create and manage your promotions"
            }
          },
          "organizations": {
            "items": {
              "$ref": "#/components/schemas/AuthorizeOrganization"
            },
            "type": "array",
            "title": "Organizations"
          }
        },
        "type": "object",
        "required": [
          "client",
          "sub_type",
          "sub",
          "scopes",
          "organizations"
        ],
        "title": "AuthorizeResponseOrganization"
      },
      "AuthorizeResponseUser": {
        "properties": {
          "client": {
            "$ref": "#/components/schemas/OAuth2ClientPublic"
          },
          "sub_type": {
            "type": "string",
            "const": "user",
            "title": "Sub Type"
          },
          "sub": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AuthorizeUser"
              },
              {
                "type": "null"
              }
            ]
          },
          "scopes": {
            "items": {
              "$ref": "#/components/schemas/Scope"
            },
            "type": "array",
            "title": "Scopes"
          },
          "scope_display_names": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Scope Display Names",
            "default": {
              "openid": "OpenID",
              "profile": "Read your profile",
              "email": "Read your email address",
              "user:read": "Read your user account",
              "user:write": "Manage your user account",
              "organizations:read": "Read your organizations",
              "organizations:write": "Create or modify organizations",
              "members:read": "Read members",
              "members:write": "Create or modify members",
              "organization_access_tokens:read": "Read organization access tokens",
              "organization_access_tokens:write": "Create or modify organization access tokens",
              "promotions:read": "Read your promotions",
              "promotions:write": "Create and manage your promotions"
            }
          }
        },
        "type": "object",
        "required": [
          "client",
          "sub_type",
          "sub",
          "scopes"
        ],
        "title": "AuthorizeResponseUser"
      },
      "AuthorizeUser": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid4",
            "title": "Id"
          },
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          },
          "avatar_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Avatar Url"
          }
        },
        "type": "object",
        "required": [
          "id",
          "email",
          "avatar_url"
        ],
        "title": "AuthorizeUser"
      },
      "AvailableScope": {
        "type": "string",
        "enum": [
          "openid",
          "profile",
          "email",
          "user:read",
          "user:write",
          "organizations:read",
          "organizations:write",
          "members:read",
          "members:write",
          "organization_access_tokens:read",
          "organization_access_tokens:write",
          "promotions:read",
          "promotions:write"
        ],
        "title": "AvailableScope"
      },
      "BackupCodesEnrollment": {
        "properties": {
          "codes": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Codes"
          }
        },
        "type": "object",
        "required": [
          "codes"
        ],
        "title": "BackupCodesEnrollment"
      },
      "BackupCodesStatus": {
        "properties": {
          "codes": {
            "type": "integer",
            "title": "Codes"
          },
          "used_codes": {
            "type": "integer",
            "title": "Used Codes"
          }
        },
        "type": "object",
        "required": [
          "codes",
          "used_codes"
        ],
        "title": "BackupCodesStatus"
      },
      "BackupCodesVerify": {
        "properties": {
          "code": {
            "type": "string",
            "title": "Code"
          }
        },
        "type": "object",
        "required": [
          "code"
        ],
        "title": "BackupCodesVerify"
      },
      "BatchRequest": {
        "properties": {
          "sources": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "maxItems": 256,
            "minItems": 1,
            "title": "Sources"
          }
        },
        "type": "object",
        "required": [
          "sources"
        ],
        "title": "BatchRequest"
      },
      "BlockingOrganization": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid4",
            "title": "Id"
          },
          "slug": {
            "type": "string",
            "title": "Slug"
          },
          "name": {
            "type": "string",
            "title": "Name"
          }
        },
        "type": "object",
        "required": [
          "id",
          "slug",
          "name"
        ],
        "title": "BlockingOrganization",
        "description": "Organization that is blocking user deletion."
      },
      "Body_email-update_verify_email_update": {
        "properties": {
          "token": {
            "type": "string",
            "title": "Token"
          }
        },
        "type": "object",
        "required": [
          "token"
        ],
        "title": "Body_email-update:verify_email_update"
      },
      "Body_oauth2_consent": {
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "allow",
              "deny"
            ],
            "title": "Action"
          }
        },
        "type": "object",
        "required": [
          "action"
        ],
        "title": "Body_oauth2:consent"
      },
      "CategoryPromotions": {
        "properties": {
          "category": {
            "type": "string",
            "title": "Category"
          },
          "active": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PromotionRead"
              },
              {
                "type": "null"
              }
            ]
          },
          "queued": {
            "items": {
              "$ref": "#/components/schemas/PromotionRead"
            },
            "type": "array",
            "title": "Queued"
          }
        },
        "type": "object",
        "required": [
          "category",
          "active",
          "queued"
        ],
        "title": "CategoryPromotions",
        "description": "A category's featured slot plus the in-feed queue behind it."
      },
      "CountryAlpha2": {
        "type": "string",
        "enum": [
          "AD",
          "AE",
          "AF",
          "AG",
          "AI",
          "AL",
          "AM",
          "AO",
          "AQ",
          "AR",
          "AS",
          "AT",
          "AU",
          "AW",
          "AX",
          "AZ",
          "BA",
          "BB",
          "BD",
          "BE",
          "BF",
          "BG",
          "BH",
          "BI",
          "BJ",
          "BL",
          "BM",
          "BN",
          "BO",
          "BQ",
          "BR",
          "BS",
          "BT",
          "BV",
          "BW",
          "BY",
          "BZ",
          "CA",
          "CC",
          "CD",
          "CF",
          "CG",
          "CH",
          "CI",
          "CK",
          "CL",
          "CM",
          "CN",
          "CO",
          "CR",
          "CU",
          "CV",
          "CW",
          "CX",
          "CY",
          "CZ",
          "DE",
          "DJ",
          "DK",
          "DM",
          "DO",
          "DZ",
          "EC",
          "EE",
          "EG",
          "EH",
          "ER",
          "ES",
          "ET",
          "FI",
          "FJ",
          "FK",
          "FM",
          "FO",
          "FR",
          "GA",
          "GB",
          "GD",
          "GE",
          "GF",
          "GG",
          "GH",
          "GI",
          "GL",
          "GM",
          "GN",
          "GP",
          "GQ",
          "GR",
          "GS",
          "GT",
          "GU",
          "GW",
          "GY",
          "HK",
          "HM",
          "HN",
          "HR",
          "HT",
          "HU",
          "ID",
          "IE",
          "IL",
          "IM",
          "IN",
          "IO",
          "IQ",
          "IR",
          "IS",
          "IT",
          "JE",
          "JM",
          "JO",
          "JP",
          "KE",
          "KG",
          "KH",
          "KI",
          "KM",
          "KN",
          "KP",
          "KR",
          "KW",
          "KY",
          "KZ",
          "LA",
          "LB",
          "LC",
          "LI",
          "LK",
          "LR",
          "LS",
          "LT",
          "LU",
          "LV",
          "LY",
          "MA",
          "MC",
          "MD",
          "ME",
          "MF",
          "MG",
          "MH",
          "MK",
          "ML",
          "MM",
          "MN",
          "MO",
          "MP",
          "MQ",
          "MR",
          "MS",
          "MT",
          "MU",
          "MV",
          "MW",
          "MX",
          "MY",
          "MZ",
          "NA",
          "NC",
          "NE",
          "NF",
          "NG",
          "NI",
          "NL",
          "NO",
          "NP",
          "NR",
          "NU",
          "NZ",
          "OM",
          "PA",
          "PE",
[...]
