.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/

.minio/
outception_backoffice/
tests/
emails/node_modules/
outception/backoffice/node_modules/

ip-geolocation.mmdb
.env*
.jkws.json
.DS_Store
